.avatar-clip
	border: 6px solid #fff
	border-radius: 50%
	overflow: hidden
	
.avatar
	background: url('/images/avatar.jpg') no-repeat;
	background-size: cover;
	height: 0;
	line-height: 0;
	padding-bottom: 100%;
