html
	background: url('/images/bg1.jpg') no-repeat 50% 50%;
	background-size: cover;
	background-color: #fefefe;
	background-attachment: fixed;

body
	//TODO: adjust based on media query
	margin-top: 40rem;

section.section-about
section.section-skill
	background-color: #fff
