html
	background: url('/images/bg1.jpg') no-repeat 50% 50%;
	background-size: cover;
	background-color: #fefefe;
	background-attachment: fixed;

body
	//TODO: adjust based on media query
	margin-top: 40rem;

.section-about
.section-skill
.section-work
.section-features
.section-interests
	background-color: #fff
	padding: 2rem 0

.section-skill
	background-color: #393E42
	color: #eee
	
	ul
		color: #CDCDCD

.section-work
	background-color: #eee
	
	.work-date
		display: block
		font-size: 1.6rem
		font-style italic
		
		@media (min-width: 550px) {
			float: right
		}

.section-interests
	background-color: #555C62
	color: #eee
	
.list-header
	text-align: center
	border-bottom: 2px solid #7B7E81
	padding-bottom: 1.2rem
	margin-bottom: 1.2rem
