section.section-intro
	.container
		.row
			.three.columns
				.avatar-clip
					.avatar

			.nine.columns
				h1 Adam Willoughby-Knox 
					span.pipe | 
					span.career Software Engineer

				h2 Bonjour

section.section-about
	.container
		.row
			.three.columns
				nav
					ul
						li About
						li: a(href="#skills") Skills
						li: a(href="#work") Work
						li: a(href="#interests") Interests

			.nine.columns
				
				p.
					Well rounded developer seeking a company that can 
					offer challenging tasks, makes data based decision, 
					has a healthy respect for user experience, and 
					encourages the use of emerging web technologies.

				div.contact-me
					ul
						li
							a(href="mailto:adam.w.knox@gmail.com", title="Email")
								i.icon-paper-plane

						li
							a(href="http://www.linkedin.com/pub/adam-willoughby-knox/20/1/b31", title="LinkedIn")
								i.icon-linkedin
						li
							a(href="https://github.com/drKnoxy", title="GitHub")
								i.icon-github-circled
						li
							a(href="http://stackoverflow.com/users/656057/aknox", title="StackOverflow")
								i.icon-stackoverflow


section.section-skill
	.container
		h2 Skills

		.row
			.four.columns
				h4 Languages
				ul
					li HTML / CSS
					li JavaScript / jQuery / AJAX
					li PHP
					li MySQL
					li Stylus

			.four.columns
				h4 MVC / CMS
				ul
					li Lithium / CakePHP
					li Magento / Zend
					li Wordpress
					li AngularJS

			.four.columns
				h4 Other areas of knowledge
				ul
					li Git
					li Linux
					li Photoshop
					li Mongo
					li Elasticsearch
